{% extends 'base.html' %}

{% block title %}
Visualizacion facturas
{% endblock %}

{% block content %}
<h2 class="titulo_seccion_global">Facturas - {% if cliente_name == "todos" %} 
    Todos los clientes
    {% else %} 
    {{ cliente_name }}
    {% endif %}
</h2>
<section class="formulario_general">
    <article class="cambiar_cliente">
        <div class="cambiar_cliente">
            <h1 id="titulo_cambiar_cliente" class="titulo_seccion">Cambiar cliente</h1>
            <form action="{% url 'entrada_facturas' %}" method="GET" class="form_data">
                <input type="text" name="id_cliente" placeholder="Inserta ID de cliente">
                <button type="submit">Ir a facturacion</button>
            </form>
            <div id="aviso_cliente_no_existe" data-variable="{{ launch_js_cliente_no_existe }}" class="aviso_cliente_no_existe">
                El cliente no existe
            </div>
    </article>
 
        {% if user.is_authenticated %}
    <article id="_bloque_formulario_introducir_factura" class="cliente_formulario_general">
        <h1 id="h1_titulo_form_factura" class="titulo_seccion">Formulario facturas</h1>
        <form id="formulario_facturas_2_cols" method="POST"  class="form_in_2_cols">
            {% csrf_token %}
            <div class="two-column-form">
                <div class="column">
                    <div class="form-group">
                        <label> FACTURA: </label>
                        {{ form_facturas.num_factura }}
                    </div>
                    <div class="form-group">
                        {{ form_facturas.cliente.label_tag }}
                        {{ form_facturas.cliente }}
                    </div>
                    <div class="form-group">
                        <label> FECHA: </label>
                        {{ form_facturas.fecha_factura }}
                    </div>
                    <div class="form-group">
                        {{ form_facturas.transportista.label_tag }}
                        {{ form_facturas.transportista }}
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        {{ form_facturas.moneda.label_tag }}
                        {{ form_facturas.moneda }}
                    </div>
                    <div class="form-group">
                        {{ form_facturas.packaging.label_tag }}
                        {{ form_facturas.packaging }}
                    </div>
                    <div class="form-group">
                        {{ form_facturas.iva.label_tag }}
                        {{ form_facturas.iva }}
                    </div>
                    <div class="form-group">
                        {{ form_facturas.dias_transferencia.label_tag }}
                        {{ form_facturas.dias_transferencia }}
                    </div>                  
                </div>

            </div>




            <!--{{ form_facturas.as_p }}-->
            <button type="submit" class="submit_2cols_form"> Aceptar</button>
        </form>  
    </article>
        {% endif %}  

        {% if user.is_authenticated %}
        <article class="cerrar_pedido">
            <h1 id="h1_titulo_cerrar_pedido" class="titulo_seccion"> Cerrar factura</h1>
            <form method="POST" class="form_data">
                {% csrf_token %}
                {{ form_cerrar_facturas.as_p }}
                <button type="submit"> Cerrar</button>
            </form>
        </article>
        {% endif %}
    </section>

    <div class="tab-container_datos_clientes">
        <button id="boton_1_clientes" class="tab-btn active" onclick="openTab(event, 'tab1')">FACTURAS</button>
        <button id="boton_2_clientes" class="tab-btn" onclick="openTab(event, 'tab2')">LINEAS DE FACTURAS</button>
        <div id="tab1" class="tab-content active">    

            <table id="facturas_tabla" class="display">
                <thead>
                    <tr>
                        <th>fecha_factura</th>
                        <th>cliente</th>
                        <th>id_cliente</th>
                        <th>num_factura</th>
                        <th>pais</th>
                        <th>num_pedidos_incluidos</th>
                        <th>transportista_id</th>
                        <th>moneda_id</th>
                        <th>iva</th>
                        <th>dias_transferencia</th>
                        <th>cerrado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in facturas %}
                    <tr>
                        <td>{{ item.fecha_factura }}</td>
                        <td>{{ item.cliente }}</td>
                        <td>{{ item.id_cliente }}</td>
                        <td>{{ item.num_factura }}</td>
                        <td>{{ item.pais }}</td>
                        <td>{{ item.num_pedidos_incluidos }}</td>
                        <td>{{ item.transportista_id }}</td>
                        <td>{{ item.moneda_id }}</td>
                        <td>{{ item.iva }}</td>
                        <td>{{ item.dias_transferencia }}</td>
                        <td>
                            {% if item.cerrado  %}
                            Cerrado
                        {% elif not item.cerrado  %}
                            Abierto
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="tab2" class="tab-content">
    
            <table id="facturas_lineas" class="display">
                <thead>
                    <tr>
                        <th>identificador</th>
                        <th>cliente</th>
                        <th>num_pedido_id</th>
                        <th>num_factura_id</th>
                        <th>codigo_articulo</th>
                        <th>cantidad_facturada</th>
                        <th>cantidad_total</th>
                        <th>precio_unitario_linea_pedido</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in facturas_lineas %}
                    <tr>
                        <td>{{ item.identificador }}</td>
                        <td>{{ item.cliente }}</td>
                        <td>{{ item.num_pedido_id }}</td>
                        <td>{{ item.num_factura_id }}</td>
                        <td>{{ item.codigo_articulo }}</td>
                        <td>{{ item.cantidad_facturada }}</td>
                        <td>{{ item.cantidad_total }}</td>
                        <td>{{ item.precio_unitario_linea_pedido }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



        <section class="lineas_form">
            <div>

                {% if user.is_authenticated %}
                {% if todos_los_clientes != "yes" %}
    
    
                <h1 class="titulo_seccion">Formulario facturar lineas</h1>
            
        
                <form method="POST" class="form_data">
                    {% csrf_token %}
                    {% for field in form_facturas_lineas %}
                    {% if field.label == "Numero de factura: " %}
                    <label>{{ field.label }} </label>{{ field }} <br/><br/><br/>
                    {% else %}
                    <label> {{ field.label }}</label> <br/><br/>
                    <label> Cantidad a facturar </label>{{ field }} <br/><br/>
                    {% endif %}
                    {% endfor %}
                    <button type="submit"> Aceptar</button>
                </form>
                {% endif %}  
                {% endif %}  

            
    
            </div>
            <div>

                {% if user.is_authenticated %}
                {% if todos_los_clientes != "yes" %}
                <h1 class="titulo_seccion">Eliminar facturas lineas</h1>
                <form method="post" class="form_data">
                    {% csrf_token %}
                    {{ form_eliminar_lineas.as_p  }}
                    <button type="submit"> Eliminar linea facturada</button>
                </form>

                {% endif %} 
                {% endif %} 
            </div>
        </section>

        




        <h1 class="titulo_seccion"> Lanzar excel factura</h1>
        

        <form action="{% url 'lanzar_factura' %}" method="post" class="form_data">
            {% csrf_token %}
            <input type="text" name="num_factura" placeholder="Inserta numero de factura">
            <button type="submit"> Lanzar factura</button>
        </form>

        <!--
            alternativa:
            <button id="launchButton">Launch Script</button>

            <script>
            document.getElementById("launchButton").addEventListener("click", function() {
                // Make an AJAX request to execute the Python script
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "/launch_script/", true);
                xhr.send();
            });
            </script>
        -->

        <script>
            var myDiv = document.getElementById('aviso_cliente_no_existe');
            var variableValue = myDiv.getAttribute('data-variable');
            if (variableValue === 'si') {
                myDiv.classList.add('mostrar_aviso_cliente');
            }
        </script>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function() {
            var table = $('#facturas_tabla').DataTable();
        });
        </script>   
        <script>
            $(document).ready(function() {
            var table = $('#facturas_lineas').DataTable();
        });
    </script>
    <script>
        function openTab(evt, tabName) {
            var i, tabContent, tabButtons;
          
            tabContent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabContent.length; i++) {
              tabContent[i].style.display = "none";
            }
          
            tabButtons = document.getElementsByClassName("tab-btn");
            for (i = 0; i < tabButtons.length; i++) {
              tabButtons[i].classList.remove("active");
            }
          
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.classList.add("active");
          }
    </script>

        
        {% endblock %}